{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <a href="#" class="govuk-back-link govuk-body govuk-!-margin-bottom-5">Back</a>
      <h1 class="govuk-heading-xl">
        Apply for Help to Buy: Equity Loan
      </h1>
      
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> 
            Your identity and home ownership information
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-03-after-verify" aria-describedby="eligibility-completed">
                  Check your verified identity details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--blue">Done</strong> 
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-01-form" aria-describedby="eligibility-completed">
                  Confirm if you're buying on your own or with others
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--blue">Done</strong> 
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-02-form" aria-describedby="company-information-completed">
                  Declare if you have owned a home
                </a>
              </span>            
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--blue">Done</strong>  
             </li> 
          </ul>
        </li>
        <!-- section -->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> 
            Personal information
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-03-form" aria-describedby="read-declaration-completed">
                  Add your contact details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">To do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-03a-form" aria-describedby="read-declaration-completed">
                  Add second buyer's contact details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">To do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-04-form" aria-describedby="read-declaration-completed">
                  Provide National Insurance number
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">To do</strong>
            </li>
           
          </ul>
        </li>
        <!-- section -->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> New build details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-05-form">
                  Give expected purchase date
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">To do</strong> 
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-06-form">
                  Provide build completion details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">To do</strong> 
            </li>
            
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-08a-form">
                  Add new build address
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">To do</strong> 
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-09-form">
                  List property details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">To do</strong> 
            </li>
           
          </ul>
        </li>
        <!-- section -->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Residents of the property
          </h2>
          <ul class="app-task-list__items">
            
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-10-form">
                  Provide details of residents
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">To do</strong> 
            </li>
          </ul>
        </li>
        <!-- section -->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Purchase and financial information
          </h2>
          <ul class="app-task-list__items">
           
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-12-form">
                  Provide  income details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">To do</strong> 
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-13-form">
                  List your outgoings
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">To do</strong> 
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-11-form">
                  List purchase details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">To do</strong> 
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span> Legal and mortgage advisers
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-14-form">
                  Provide your conveyancing solicitor details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">To do</strong> 
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="apply-04-15-form">
                  Add mortgage adviser details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">To do</strong> 
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">7. </span> Read and submit
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span style="color:#626a6e;">
                Check your answers
                <!-- <a href="apply-05-01-check">
                  
                </a> -->
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">Do last</strong> 
            </li>
            <li class="app-task-list__item">
              <span style="color:#626a6e;">
                Confirm and submit your application
                <!-- <a href="apply-05-02-declare">
                  
                </a> -->
              </span>
              <strong class="govuk-tag app-task-list__task-completed govuk-tag govuk-tag--grey">Do last</strong> 
            </li>
          </ul>
        </li>
      </ol>

      <form method="post" novalidate="" autocomplete="off" action="apply-04-03-form">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
</form>


    <div><p>&nbsp;</p></div> 
  <div><p class="govuk-body govuk-!-margin-bottom-5"><a href="apply-04-02-save-exit">Save and exit</a></p></div>
 
    </div>
    </div>
  </div>

{% endblock %}
