
{% extends "layout.html" %}

{% block pageTitle %}
  Page title - to be dynamic from routes - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">parent page</a>
      </li>

      <li class="govuk-breadcrumbs__list-item" aria-current="page">surrent page</li>
 
    </ol>
  </div> -->
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

        <h2 class="govuk-heading-m">Prove your identity details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name</br>
              Date of birth</br></br>
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              Sian Trenshaj</br>
              24 August 1982</br></br>
              15 High Street </br> Birmingham</br>BM19 34Q
            </dd>
            <dd class="govuk-summary-list__actions">
              <!-- <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a> -->
            </dd>
          </div>
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div> -->
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              15 High Street </br> Birmingham</br>BM19 34Q
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div> -->

        </dl>

        <h2 class="govuk-heading-m">Contact</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">07700 900457</p>
              <p class="govuk-body">sian.trenshaj@example.com</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">New build details</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Plot number
            </dt>
            <dd class="govuk-summary-list__value">

              502135326
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change <span class="govuk-visually-hidden">previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Developer
            </dt>
            <dd class="govuk-summary-list__value">
              Quality homes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change <span class="govuk-visually-hidden">Developer</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>Birmingham<br>SE23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change <span class="govuk-visually-hidden">new build address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Property type</br>
              Tenure
            </dt>
            <dd class="govuk-summary-list__value">
              Flat</br>
              Leasehold
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change <span class="govuk-visually-hidden">Property details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Number of
              bedrooms
            </dt>
            <dd class="govuk-summary-list__value">

              3
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">bedroom number</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Build completion
            </dt>
            <dd class="govuk-summary-list__value">
              24 January 2021

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change <span class="govuk-visually-hidden">build completion</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">

               Purchase completion
            </dt>
            <dd class="govuk-summary-list__value">

              3 March 2021

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change <span class="govuk-visually-hidden">purchase completion</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Purchase details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Property price
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">£372,000</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> price details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deposit
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">£97,600</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change <span class="govuk-visually-hidden">deposit</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mortgage lender amount
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">£200,000</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change <span class="govuk-visually-hidden">amount</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Help to Buy: Equity Loan amount
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">£74,400</p>
              <p class="govuk-body">(20%)</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change <span class="govuk-visually-hidden">change amount</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mortgage term
            </dt>
            <dd class="govuk-summary-list__value">
              25 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change <span class="govuk-visually-hidden">purchase details</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Your income</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Annual salary (gross)
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">£49,000</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">annual salary</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Child benefit
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">£1,250</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change <span class="govuk-visually-hidden">monthly income</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other income
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">None</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change <span class="govuk-visually-hidden">income</span>
              </a>
            </dd>
          </div>
          </dl>

          <h2 class="govuk-heading-m">Your outgoings</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Service charge on the new build home
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">£1,000</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">service charge</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Total salary deductions amount
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">£750</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change <span class="govuk-visually-hidden">monthly outgoings</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other outgoings
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">None</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change <span class="govuk-visually-hidden">outgoings</span>
                </a>
              </dd>
            </div>

        </dl>

        <h2 class="govuk-heading-m">Your lawyer</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name</br>
              Job title</br>
              Company
            </dt>
            <dd class="govuk-summary-list__value">
              Prita Piyala</br>
              Lead Conveyancer</br>
              Birmingham Central Solicitors
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">lawyer details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">55 Central Place</br>Birmingham</br>BM2 4AQ</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change <span class="govuk-visually-hidden">lawyer address</span>
              </a>
            </dd>
          </div>
      </dl>

      <h2 class="govuk-heading-m">Your mortgage advisor</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name</br>
            Job title</br>
            Company
          </dt>
          <dd class="govuk-summary-list__value">
            Jason Hinckle</br>
            Broker</br>
            Birmingham Central Estates
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">mortgage advisor details</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">48 Central Place</br>Birmingham</br>BM2 4AN</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change <span class="govuk-visually-hidden">mortgage advisor address</span>
            </a>
          </dd>
        </div>
    </dl>

        <form method="post" novalidate="" autocomplete="off" action="apply-04-form14">


        <!-- <form action="/form-handler" method="post" novalidate> -->

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>

        </form>

      </div>
    </div>
  </main>
</div>
{% endblock %}