
{% extends "layout.html" %}

{% block pageTitle %}
  Page title - to be dynamic from routes - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">parent page</a>
      </li>

      <li class="govuk-breadcrumbs__list-item" aria-current="page">surrent page</li>
 
    </ol>
  </div> -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link govuk-body govuk-!-margin-bottom-9">Back</a>
      <span class="govuk-caption-xl">
        Before you start
      </span>
      <!-- <h1 class="govuk-heading-xl">Do you meet the conditions to apply for an equity loan? -->
      </h1>
      <form method="post" novalidate="" class="radio-routes-toggle" autocomplete="off" action="#">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Have you checked that you meet the conditions to apply for an equity loan?
            </h1>
          </legend>
          <p class="govuk-body">You must make sure you meet the conditions required to apply for an equity loan.</p>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="England" data-path="apply-01-eligibility02">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="Scotland" data-path="apply-01-eligibility01a-ineligible">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                No
              </label>
            </div>
           
          </div>
        </fieldset>

        <p>&nbsp;</p>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How do I check if I meet the conditions?
            </span>
          </summary>
       
          <div class="govuk-details__text">
        <p>To apply for an equity loan, you must:
         
      </p>
        <ul class="govuk-list govuk-list--bullet"> 
         <li>be buying a new build home</li>
         <li>be buying a property in England</li>
         <li>be over 18 years-old</li>
         <li>not own or have previously owned a residential property</li>
        <li>if married, your partner cannot own or have previously owned a residential property</li>
You can also use the eligibility checker on the  <a href="#">XXX page</a> on the GOV.UK website to check you meet the full conditions to apply for an equity loan. 
           </div>  
        </details>
      </div>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <p>&nbsp;</p>

    </div>
  </div>
{% endblock %}
