
{% extends "layout.html" %}

{% block pageTitle %}
  Page title - to be dynamic from routes - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">parent page</a>
      </li>

      <li class="govuk-breadcrumbs__list-item" aria-current="page">surrent page</li>
 
    </ol>
  </div> -->
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <!-- <h1 class="govuk-heading-xl">Check  answers</h1> -->

        <h2 class="govuk-heading-l">Check the information the first applicant entered about you</h2>
        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" aria-describedby="nationality-hint nationality-error">
            <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is your nationality?
              </h1>
            </legend> -->
            <!-- <span id="nationality-hint" class="govuk-hint">
              If you have dual nationality, select all options that are relevant to you.
            </span> -->
            <span id="nationality-error" class="govuk-error-message" style="padding-top: 15px;">
              <span class="govuk-visually-hidden">Error:</span> Change the information which is incorrect
            </span>
            <!-- <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british">
                <label class="govuk-label govuk-checkboxes__label" for="nationality">
                  British
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
                <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
                  Irish
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
                <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
                  Citizen of another country
                </label>
              </div>
            </div> -->
          </fieldset>
        </div>

        <h3 class="govuk-heading-m">Your details</h3>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Your email
            </dt>
            <dd class="govuk-summary-list__value">
              
              <p class="govuk-body">frankie.shaw@example.com</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="apply-04-03-form-change">
               Change <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key ">
              Your phone number
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">07509 282340</p>
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="apply-04-03-form-change">
                Change <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

         
        </dl>

        <h2 class="govuk-heading-m">Your income</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Annual salary (gross)
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">£27,000 per year</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">annual salary</span>
              </a>
            </dd>
          </div>

          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other income 
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">None</p> 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">income</span>
              </a>
            </dd>
          </div>
          </dl>

          <h2 class="govuk-heading-m">Your outgoings</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  
           
  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-half">
                Total salary deductions 
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">£240 per month</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change <span class="govuk-visually-hidden">monthly outgoings</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Total credit card and loan balance
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">£550 total</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change <span class="govuk-visually-hidden">monthly outgoings</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other outgoings 
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">None</p> 
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change <span class="govuk-visually-hidden">outgoings</span>
                </a>
              </dd>
            </div>
        </dl>
        <h2 class="govuk-heading-m">Your home ownership information</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home ownnership 
            </dt>
            <dd class="govuk-summary-list__value">
              
              <p class="govuk-body">You have never owned a home.<br>Your are not married to someone who has owned a home.</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>

        <form method="post" novalidate="" autocomplete="off" action="#">
          <div class="govuk-form-group">
            
            <fieldset class="govuk-fieldset radio-routes-toggle" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Are these details correct?
                </h1>
              </legend>
              <!-- <p class="govuk-body">
                You should have reserved your new home with a registered Help to Buy house builder. This usually includes paying a reservation fee.
               </p> -->
              <div class="govuk-radios govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name" name="reservation" type="radio" value="yes" data-path="apply-05-01-check-buyer1">
                  <label class="govuk-label govuk-radios__label" for="changed-name">
                    Yes, they're correct
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="reservation" type="radio" value="no" data-path="apply-05-01-check-change">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    No, they're not correct
                  </label>
                </div>
              </div>
            </fieldset>
      
    
           
          </div>
    
    
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
       
        <!-- <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are these details correct?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Yes, they're correct
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  No, they're not correct
                </label>
              </div>
             
            </div>
          </fieldset>
        </div> -->
      
          <!-- <div class="govuk-form-group">
            <fieldset class="govuk-fieldset radio-routes-toggle"  aria-describedby="waste-hint2">
     
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h2 class="govuk-heading-s">
                      Are these details correct?
                    </h2>
                  </legend>
                 
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name" name="changed-name1" type="radio" value="yes" >
                      <label class="govuk-label govuk-radios__label" for="changed-name">
                        Yes, they're correct
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no" >
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                       No, they're not correct
                      </label>
                    </div>
                  </div>
                  </fieldset></div> -->

        <!-- <form method="post" novalidate="" autocomplete="off" action="apply-05-01-check-buyer1">
       <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form> -->
        <div><p>&nbsp;</p></div> 
  
  
      </div>
    </div>
  </main>
</div>
{% endblock %}