
{% extends "layout.html" %}

{% block pageTitle %}
  Page title - to be dynamic from routes - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">parent page</a>
      </li>

      <li class="govuk-breadcrumbs__list-item" aria-current="page">surrent page</li>
 
    </ol>
  </div> -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#"  class="govuk-back-link govuk-body govuk-!-margin-bottom-9">Back</a>
     
      <form method="post" novalidate="" autocomplete="off">
      <div class="govuk-form-group">
        
        <fieldset class="govuk-fieldset radio-routes-toggle" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Are you buying with another person or other people?
            </h1>
          </legend>
         
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes" data-path="multi/apply-04-01a-form">
              <label class="govuk-label govuk-radios__label" for="changed-name">
                Yes, I’m buying with another person or other people
              </label>
            </div>
            <div class="govuk-radios__item">
             
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no" data-path="apply-04-02-form">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                No, I’m buying on my own
              </label>
            </div>
          </div>
        </fieldset>
  
      </div>


       <div><p>&nbsp;</p></div> 
      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Save and continue
      </button>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Save and come back later
      </button>
     
    </form>
   
    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <p>&nbsp;</p>

    </div>
  </div>
{% endblock %}