
{% extends "layout.html" %}

{% block pageTitle %}
  Page title - to be dynamic from routes - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">parent page</a>
      </li>

      <li class="govuk-breadcrumbs__list-item" aria-current="page">surrent page</li>
 
    </ol>
  </div> -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link govuk-body govuk-!-margin-bottom-9">Back</a>
      <!-- <h1 class="govuk-heading-xl">Have you reserved a new build home with a property agent?
      </h1> -->
      <form method="post" novalidate="" autocomplete="off" action="apply-04-03-form">
     
         
        
         
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  What is your home ownership status?
                </h1>
              </legend>
              <span id="waste-hint" class="govuk-hint">
                Tell us about your current home ownership situation. Select those that apply to you.
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    I’ve never owned a home before
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    I’m not married
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    I’m  married and my spouse does not  own a residential property
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    I’ve previously owned a residential property on my own or with other people
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    I’m married to a person who owns a residential property
                  </label>
                </div>
                
                
              </div>
            </fieldset>
          </div>
         
         
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What is a residential property?

              </span>
            </summary>
            <div class="govuk-details__text">
              This is a house or flat which is occupied or is intended to be occupied as a residence or living accommodation.
            </div>
          </details>

  <div><p>&nbsp;</p></div> 
      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Save and continue
      </button>
 
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Save and come back later
      </button>

    </form>

   
    </div>
       



    </form>



   
    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <p>&nbsp;</p>

    </div>
  </div>
{% endblock %}