.govuk-tag--grey {
    color: #454a4d;
    background: #eff0f1;
}
  
.govvuk-tag--purple {
    color: #3d2375;
    background: #dbd5e9;
}

.govuk-tag--turquoise {
    color: #10403c;
    background: #bfe3e0;
}

.govuk-tag--blue {
    color: #144e81;
    background: #d2e2f1;
}

.govuk-tag--yellow {
    color: #594d00;
    background: #fff7bf;
}

.govuk-tag--orange {
    color: #6e3619;
    background: #fcd6c3;
}

.govuk-tag--red {
    color: #942514;
    background: #f6d7d2;
}

.govuk-tag--pink {
    color: #80224d;
    background: #f7d7e6;
}

.govuk-tag--green {
    color: #005a30;
    background: #cce2d8;
}
