
{% extends "layout.html" %}

{% block pageTitle %}
  Page title - to be dynamic from routes - GOV.UK
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Find out about a Help to Buy: Equity Loan</h1>

      <ul class="govuk-list dash-list">
        <li><a class="govuk-link" href="index">What an equity loan is</a></li>
        <li><a class="govuk-link" href="how-it-works">How it works</a></li>
        
        <li>Who can apply</li>
        <li><a class="govuk-link" href="check-how-much-you-can-afford">Check the maximum property price</a></li>
        <!-- <li><a class="govuk-link" href="what-you-need">What you need</a></li> -->
        <li><a class="govuk-link" href="what-you-can-do">What you must do and not do</a></li>
        <!-- <li><a class="govuk-link" href="what-you-cannot-do">What you cannot do</a></li> -->
        <li><a class="govuk-link" href="paying-back-the-loan">What you need to pay</a></li>
        <li><a class="govuk-link" href="how-to-apply">How to apply</a></li>
      </ul>
    </div>
      
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible" style="margin-bottom: 15px;">


<h2 class="govuk-heading-l">Who can apply</h2>
<p>You must be:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>aged 18 years-old and over</li>
  <li>buying a property in England </li>
</ul>


<p>The home you buy must:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>be a new build (this is a newly completed residential property) </li>
  <li>be the first residential property owned (anywhere in the world) by you or any other person who is buying with you (if you’re applying in England) </li>
  <li>be from a registered Help to Buy housebuilder</a></li>
</ul>

<p>You cannot apply if you:</p>
<ul class="govuk-list govuk-list--bullet">
<li> own or have previously owned any property or land anywhere in the world. (This also includes any person buying with you)</li>
<li> are married to a person who owns or has previously owned a residential property or land anywhere in the world</li>
</ul>



  <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="track-click">
      <li class="gem-c-pagination__item gem-c-pagination__item--previous">
        <a href="how-it-works" class="gem-c-pagination__link" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/get-a-child-passport" data-track-dimension="previous" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Previous
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">How it works</span>
        </a>
      </li>
      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href="check-how-much-you-can-afford" class="gem-c-pagination__link" rel="next" data-track-catehttps://github.com/gulpdigital/htb-alpha/tree/demo-branch/app/views/apply/uj3/iteration-5/guidancegory="contentsClicked" data-track-action="next" data-track-label="/get-a-child-passport/renew-a-child-passport" data-track-dimension="next" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Check the maximum property price</span>
        </a>
      </li>
  </ul>
</nav>


</div>

<div class="govuk-grid-column-one-third">

  <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

  <aside class="app-related-items" role="complementary">

    <h2 class="govuk-heading-m">Related content</h2>
    <ul class="govuk-list">
    <li><a href="#" class="govuk-link">Return to an equity loan application </a></li>
    <li><a href="https://htb-alpha-uj3.herokuapp.com/redemption/uj4/iteration-2/application/application-overview" class="govuk-link">How to pay back your  loan</a></li>
<li><a href="https://www.helptobuy.gov.uk/equity-loan/find-helptobuy-agent/">Find a home you can buy with an equity loan</a></li>
    <!-- 
      Find a home you can buy with an equity loan - 
      
      <li><a href="#" class="govuk-link">Council housing</a></li>

      <li><a href="#" class="govuk-link">Housing association homes</a></li>
      
      <li><a href="#" class="govuk-link">Right to Acquire: buying your housing association home</a></li>
      
      <li><a href="#" class="govuk-link">Right to Buy: buying your council home</a></li> -->
    </ul>

  </aside>

</div>
</div>
{% endblock %}
