
      {% extends "layout.html" %}

{% block pageTitle %}
  Page title - to be dynamic from routes - GOV.UK
{% endblock %}



{% block content %}


  <div class="govuk-grid-row">
   
    <div class=" govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Find out about a Help to Buy: Equity Loan</h1>

      <ul class="govuk-list dash-list">
        <li><a class="govuk-link" href="index">What an equity loan is</a></li>
        <li><a class="govuk-link" href="how-it-works">How it works</a></li>
        
        <li><a class="govuk-link" href="who-can-apply">Who can apply</a></li>
        <li><a class="govuk-link" href="check-how-much-you-can-afford">Check the maximum property price</a></li>
        <!-- <li><a class="govuk-link" href="how-does-it-works">What you need</a></li> -->
        <li><a class="govuk-link" href="what-you-can-do">What you must do and not do</a></li>
        <!-- <li><a class="govuk-link" href="what-you-cannot-do">What you cannot do</a></li> -->
        <li><a class="govuk-link" href="paying-back-the-loan">What you need to pay</a></li>
        <li>How to apply</li>
      </ul>
  </div>
      <div class="govuk-grid-column-two-thirds">
      
        <hr class="govuk-section-break govuk-section-break--visible" style="margin-bottom: 15px;">

      <h2 class="govuk-heading-l">How to apply</h2>
      <p>Follow these steps to apply for an equity loan.</p> 
            
 <!-- <p>1. To apply you must <a href="who-can-apply">check you meet the conditions on the who can apply</a> page on the GOV.UK website.</p> -->
 
  <!-- <p>1. To apply you must <a href="who-can-apply">check you meet the conditions</a> on the GOV.UK website.</p> -->
  <ol class="govuk-list govuk-list--number">
   
 
 <li style="margin-bottom:15px;">To apply you must check you meet the conditions</a> on the <a href="who-can-apply">who can apply</a> page.</li>
    <li style="margin-bottom:15px;">If you meet the conditions, you then need to find a home with a registered <a href="https://www.helptobuy.gov.uk/equity-loan/find-helptobuy-agent/">Help to Buy housebuilder</a>. </li>        
      <li style="margin-bottom:15px;">After this, you must reserve a home with a house builder or an estate agent first, before you can apply for an equity loan. This usually involves paying a reservation fee of up £500.</li>   
            
      <li style="margin-bottom:15px;">Once you have reserved a home, you can apply on the <a href="https://htb-alpha-uj3.herokuapp.com/apply/uj3/iteration-5/apply-00-service-start">Apply for a Help to Buy: Equity Loan</a> page on the GOV.UK website.</li>
            
      <li style="margin-bottom:15px;">After you’ve applied, you must wait for the decision. If you’re making a joint application, the 2nd applicant must review the application before it is submitted.</li>         
    </ol>          

      <h2 class="govuk-heading-l">What you need </h2>
<p>You will need the following: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>new build property details </li>
  <li>monthly income and outgoings</li>
  <li>solicitor details</li>
</ul>

<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="track-click">
      <li class="gem-c-pagination__item gem-c-pagination__item--previous">
        <a href="paying-back-the-loan" class="gem-c-pagination__link" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/get-a-child-passport" data-track-dimension="previous" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Previous
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">What you need to pay</span>
        </a>
      </li>
  </ul>
</nav>

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">

        <h2 class="govuk-heading-m">Related content</h2>
        <ul class="govuk-list">
          <li><a href="#" class="govuk-link">Return to an equity loan application </a></li>
          <li><a href="https://htb-alpha-uj3.herokuapp.com/redemption/uj4/iteration-2/application/application-overview" class="govuk-link">How to pay back your  loan</a></li>
      <li><a href="https://www.helptobuy.gov.uk/equity-loan/find-helptobuy-agent/">Find a home you can buy with an equity loan</a></li>
      
        </ul>

      </aside>

    </div>


</div>
  {% endblock %}
