
{% extends "layout.html" %}

{% block pageTitle %}
  Page title - to be dynamic from routes - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class=" govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Find out more about a Help to Buy Equity Loan</h1>

    <ul class="govuk-list dash-list">
      <li><a class="govuk-link" href="index">What an equity loan is</a></li>
      <li>How it works</li>
      <li><a class="govuk-link" href="who-can-apply">Who can apply</a></li>
      <!-- <li><a class="govuk-link" href="how-does-it-works">What you need</a></li> -->
      <li><a class="govuk-link" href="what-you-can-do">Conditions</a></li>
      <!-- <li><a class="govuk-link" href="what-you-cannot-do">What you cannot do</a></li> -->
      <li><a class="govuk-link" href="paying-back-the-loan">Paying back the loan</a></li>
      <li><a class="govuk-link" href="how-to-apply">How to apply</a></li>
    </ul>
  </div>

    <div class="govuk-grid-column-two-thirds">

      <hr class="govuk-section-break govuk-section-break--visible" style="margin-bottom: 15px;">

      <h2 class="govuk-heading-l">How it works</h2>
      <p>With an equity loan: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you need at least a 5% deposit </li>
        <li>the government will lend you up to 20% (up to 40% in London)</li>
        <li>you need a mortgage of up to 75% in England (up to 55% in London) or 25% at a least</a></li>
        <li>it takes 3 working days to receive a decision if your application is approved</li>
      </ul>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Equity loan example for a property in London</th>
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">For a £400,000 property</td>
            <td class="govuk-table__cell">Amount</td>
            <td class="govuk-table__cell">Percentage</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Cash deposit</td>
            <td class="govuk-table__cell">£20,000</td>
            <td class="govuk-table__cell">5%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Equity loan</td>
            <td class="govuk-table__cell">£80,000 (£120,000 in London)</td>
            <td class="govuk-table__cell">20% (40% in London)</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-l">Property purchase price limits</h2>

      <p>There is a purchase price limit on the home that you buy. The limit is different for each region in the UK. These limits are shown below:  </p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Region</th>
            <th scope="col" class="govuk-table__header">Full purchase price cap</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">England</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">East</td>
            <td class="govuk-table__cell">£407,400  </td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">East Midlands</td>
            <td class="govuk-table__cell">£261,900  </td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">London</td>
            <td class="govuk-table__cell">£600,000  </td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">North East</td>
            <td class="govuk-table__cell">£186,100  </td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">North West  </td>
            <td class="govuk-table__cell">£224,400</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">South East  </td>
            <td class="govuk-table__cell">£437,600  </td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">South West  </td>
            <td class="govuk-table__cell">£349,000  </td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">West Midlands</td>
            <td class="govuk-table__cell">£255,600  </td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Yorkshire and The Humber</td>
            <td class="govuk-table__cell">£228,100  </td>
          </tr>
        </tbody>
      </table>


<p>Use our online tool to work out how much equity loan you can apply for.</p>
        <a href="../mini-borrow/form-01.htm" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Check how much equity loan I can get
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg> </a>

     

<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="gem-c-pagination__list" data-module="track-click">
      <li class="gem-c-pagination__item gem-c-pagination__item--previous">
        <a href="index" class="gem-c-pagination__link" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/get-a-child-passport" data-track-dimension="previous" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Previous
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">What an equity loan is</span>
        </a>
      </li>
      <li class="gem-c-pagination__item gem-c-pagination__item--next">
        <a href="who-can-apply" class="gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/get-a-child-passport/renew-a-child-passport" data-track-dimension="next" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next
            </span>
          </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Who can apply</span>
        </a>
      </li>
  </ul>
</nav>

</div>
  
      <div class="govuk-grid-column-one-third">
  
        <aside class="app-related-items" role="complementary">
  
          <h2 class="govuk-heading-m">Related content</h2>
          <ul class="govuk-list">
          <li><a href="#" class="govuk-link">Return to an equity loan application </a></li>
          <li><a href="#" class="govuk-link">Pay your equity loan</a></li>
  
          <li><a href="#" class="govuk-link">Council housing</a></li>
  
            <li><a href="#" class="govuk-link">Housing association homes</a></li>
            
            <li><a href="#" class="govuk-link">Right to Acquire: buying your housing association home</a></li>
            
            <li><a href="#" class="govuk-link">Right to Buy: buying your council home</a></li>
          </ul>
  
        </aside>
  
      </div>

    </div>

{% endblock %}
