
{% extends "layout.html" %}

{% block pageTitle %}
  Page title - to be dynamic from routes - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l">What you need to do </h2>
<p>When you apply for an equity loan you must: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>pay a management fee of £1 per month by direct debit from the start ownership until the loan is repaid </li>
  <li>provide the right information as any wrong information will delay application process  </li>
  <li>provide proof of identification and verify your identity  </li>
</ul>
</div>
</div>
{% endblock %}