
{% extends "layout.html" %}

{% block pageTitle %}
  Page title - to be dynamic from routes - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">parent page</a>
      </li>

      <li class="govuk-breadcrumbs__list-item" aria-current="page">surrent page</li>
 
    </ol>
  </div> -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row ineligible-area">
    <div class="govuk-grid-column-two-thirds">

      <a href="#" class="govuk-back-link govuk-body govuk-!-margin-bottom-9">Back</a>

      <!-- <span class="govuk-caption-xl">
        Before you start
      </span> -->

      
    <h2 class="govuk-heading-l">You cannot continue</h2>

    <p> This must be the first time you are buying a home.</p>
    <p>You’ll need to exit this service.</p>
    <p>This application is for the Help to Buy England scheme. You need to apply for the <a target="_blank" class={{ data['where-do-you-live'] }} href="https://www.mygov.scot/help-to-buy/overview/">Help to Buy scheme in <span>{{ data['where-do-you-live'] }}.</span></a></p>  
    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <p>&nbsp;</p>

    </div>
  </div>
{% endblock %}