
{% extends "layout.html" %}

{% block pageTitle %}
  Page title - to be dynamic from routes - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">parent page</a>
      </li>

      <li class="govuk-breadcrumbs__list-item" aria-current="page">surrent page</li>
 
    </ol>
  </div> -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link govuk-body govuk-!-margin-bottom-9">Back</a>
      <span class="govuk-caption-l">Section 2 of 7  </span>
     
      <!-- <h1 class="govuk-heading-xl">Have you reserved a new build home with a property agent?
      </h1> -->
      <form method="post" novalidate="" autocomplete="off" action="apply-04-12-form">
      <div class="govuk-form-group">
        
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
              Enter details about your new home
            </h1>
          </legend>
          

          <p class="govuk-body">
            <!-- <span style="color: darkgoldenrod;"> <<<< this doesn't apply to number of bedrooms, so not entirely true  </span> -->
         
          </p>
           <!-- vert radio -->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <label class="govuk-label" for="address-county">
                  Property type
                </label>
              </legend>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="England" >
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    House
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="Scotland" >
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    Flat
                  </label>
                </div>
                <!-- <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="Wales" >
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                    Maisonette
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="Northern Ireland" >
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                    Bungalow
                  </label>
                </div> -->
              </div>
            </fieldset>
          </div>

          <!-- end vert radio -->


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <label class="govuk-label" for="address-county">
                Ownership type
              </label>
              </legend>
              
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="changed-name">
                    Freehold
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                     Leasehold
                  </label>
                </div>
              </div>
            </fieldset>
          </div>


         
            <!-- <div class="govuk-form-group">
              <label class="govuk-label" for="address-postcode">
                Number of bedrooms
              </label>
              <input class="govuk-input govuk-input--width-5" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
            </div> -->

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-county">
                Service charge / estate charges
              </label>
              
              <input class="govuk-input govuk-!-width-one-quarter" id="address-county" name="address-county" type="text" value="£"><span class="govuk-body"> per year</span> 
            </div> 

            
              </fieldset>
            </div>





      


       <div><p>&nbsp;</p></div> 
      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Save and continue
      </button>
 
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Save and come back later
      </button>
    </form>
   

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <p>&nbsp;</p>

    </div>
  </div>
{% endblock %}
