
{% extends "layout.html" %}

{% block pageTitle %}
  Page title - to be dynamic from routes - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">parent page</a>
      </li>

      <li class="govuk-breadcrumbs__list-item" aria-current="page">surrent page</li>
 
    </ol>
  </div> -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link govuk-body govuk-!-margin-bottom-9">Back</a>
      <span class="govuk-caption-xl">
        Before you start
      </span>
      <!-- <h1 class="govuk-heading-xl">Do you meet the conditions to apply for an equity loan?</h1> -->
      
      <form method="post" novalidate="" class="radio-routes-toggle1" autocomplete="off" action="apply-01-eligibility01">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Have you got this information?
            </h1>
          </legend>
          <p class="govuk-body">You must have these details to complete an application for an equity loan. </p>
          

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  
                </h1>
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes">
               
                
               
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-4" style="margin-bottom: 20px;">
                    I have a realistic idea of the mortgage amount I can borrow<br> 
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-4" style="margin-bottom: 20px;">
                    I have my solicitor details
                  </label>
                </div>
               
               
               
                <!-- <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    The property I'm buying is a new build home
                  </label>
                  <details class="govuk-details" data-module="govuk-details" style="margin: 10px 0 30px 20px;">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        New build home definition
                      </span>
                    </summary>
                 
                    <div class="govuk-details__text">
                  <p>A home that .... </p>
                  </div>  
                  </details>
                </div> -->
              </div>
           
          </div>

       
          
      </div>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </fieldset>
    </form>
    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <p>&nbsp;</p>

    </div>
  </div>
{% endblock %}
