{% extends "layout.html" %}

{% block pageTitle %}
  Page title - to be dynamic from routes - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">parent page</a>
      </li>

      <li class="govuk-breadcrumbs__list-item" aria-current="page">surrent page</li>
 
    </ol>
  </div> -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     <a href="#" class="govuk-back-link govuk-body govuk-!-margin-bottom-6">Back</a>
     
      
    
     <span class="govuk-caption-l govuk-!-margin-bottom-0">Section 5 of 7 </span>
       <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
              Check what you're borrowing
            </h1>
           
    </div></div>
       

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-6">You're borrowing:</p>
<h3 class="govuk-heading-l govuk-!-margin-bottom-2">20%</h3>
<p>of the value of your new home</p>
<p>The amount you owe rises and falls with the property's market value.</p>


<p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-8">This means the homebuilder will receive:</p>
<h3 class="govuk-heading-m govuk-!-margin-bottom-2">£39,600</h3>

<p class="govuk-body govuk-!-margin-bottom-2 govuk-!-margin-top-8">There are 3 things you need to pay. These include:</p>
<ul  class="govuk-list govuk-list--bullet">
  <li>a monthly £1 management fee</li>
  <li>a monthly interest fee (this starts after 5 years)</li>
  <li>the equity loan repayment in full or in 2 parts</li>
</ul>

<p class="govuk-body govuk-!-margin-bottom-8 govuk-!-margin-top-3">There is more information about these fees and repayments on the following 2 pages.</p>
          <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-1 govuk-!-margin-top-5" >
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                <p class="govuk-body govuk-!-margin-bottom-5" style="vertical-align: top; padding-top: 0; ">You're borrowing:</p>


                <p>The amount you owe goes up and down with the property's market value.</p>

              </dd>
              <dt class="govuk-summary-list__key govuk-heading-l" style="text-align:right;">
                20%
              </dt>
             
            </div>
          </dl>

          <dl class="govuk-summary-list govuk-!-margin-bottom-6" >
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                <p class="govuk-summary-list govuk-!-margin-bottom-6">Current equity loan value you're borrowing: <br>(20% of £198,000)</p>
                <p>This will be paid to the builder to make up the property price.</p>
              </dd>
              <dt class="govuk-summary-list__key govuk-heading-m" style="text-align:right;">
                £39,600
              </dt>
             
            </div>
          </dl>
        
 
    
      </div> -->

      <!-- <h3 class="govuk-heading-m">Repayment</h3>
      <p class="govuk-body">You must pay back in a lump sum of 10% of the property price and then the remainder of the loan in another lump sum of 8% of the property price. </p>
  -->
       
       

      <!-- <h3 class="govuk-heading-m">Interest and fees </h3>
        <h4 class="govuk-heading-s">Monthly management fees</h4>
     <p class="govuk-body">You must pay a £1 management fee paid by direct debit each month from owning your home until the loan is repaid. </p>
<h4 class="govuk-heading-s">Interest fees</h4>
 
      <p class="govuk-body"> There is no interest to pay on the equity loan is for the first 5 years. In year 6, interest is then charged at 1.75% and increasing each year by the Consumer Price Index (CPIH) plus 2%.</p>
       
         
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is CPIH?
          </span>
        </summary>
        <div class="govuk-details__text">
         This a rate that measures price changes (inflation) to work out the average cost of the things we buy. It takes the price changes of an item in a basket of goods (that is decided in advance) and then measures the average cost of these items.
        </div>
      </details> -->

      <!-- <div class="govuk-form-group govuk-!-margin-bottom-7">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                I understand that the amount I'll repay changes based on what my property is worth
              </label>
            </div>
       
          </div>
        </fieldset>
      </div> -->
     


        <form method="post" novalidate="" autocomplete="off" action="apply-04-11d-form">
          <div class="govuk-form-group">
     <fieldset class="govuk-fieldset">
      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Save and continue
      </button>
 
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Save and come back later
      </button>
    </fieldset>
    </form>

    </div></div>

    <div class="govuk-grid-column-one-third">

      <div style="background-color:  #f3f2f1; padding:30px; margin-bottom: 40px;" >
        <p class="govuk-body">Based on these details:</p>
       
      <table class="govuk-table">
       
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Joint deposit:</td>
            <th scope="row" class="govuk-table__header" style="text-align: right;">£10,000 
             </th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Mortgage:</td>
            <th scope="row" class="govuk-table__header" style="text-align: right;">£148,400
              </th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Equity loan:</td>
            <th scope="row" class="govuk-table__header" style="text-align: right;">£39,600
              </th>
          </tr>
          
          <tr class="govuk-table__row">
           
            <td class="govuk-table__cell">Property price:
             
            </td>
            <th scope="row" class="govuk-table__header" style="text-align: right;">£198,000</th>
          </tr>
        </tbody>
      </table>
     
        <span style="" > <p class="govuk-body " ><a href="#">Change</a></p>
        <p class="govuk-body govuk-!-font-weight-bold" style="color:#d4351c;"></p>
      </span>
       
      </div>

    </div>
  </div>
{% endblock %}

