
{% extends "layout.html" %}

{% block pageTitle %}
  Page title - to be dynamic from routes - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">parent page</a>
      </li>

      <li class="govuk-breadcrumbs__list-item" aria-current="page">surrent page</li>
 
    </ol>
  </div> -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link govuk-body govuk-!-margin-bottom-9">Back</a>
      <!-- <h1 class="govuk-heading-xl">Have you reserved a new build home with a property agent?
      </h1> -->
      <form method="post" novalidate="" autocomplete="off" action="apply-04-10-1-form">
      <div class="govuk-form-group">
        <span class="govuk-caption-l">Section 6 of 7 </span>
        
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
              Provide information about your household <br><span class="govuk-hint"></span>
            </h1>
          </legend>
          <!-- <p class="govuk-body">
            This information is used to check the property’s suitability and affordability. We also use this to issue a certificate of occupancy. </p> -->
            
            <p class="govuk-body">
             This information is optional and is used to understand how well the Help to Buy scheme is working.

          </p>
          <!-- <span id="changed-name-hint" class="govuk-hint">
            Enter the number of adults and children. For example, 4.

          </span> -->
        
          
          
         
            

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-postcode">
                Number of children 

              </label>
              <p class="govuk-hint">(under 18 years-old from the date of buying your home)</p>
              <input class="govuk-input govuk-input--width-3" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-postcode">
                Number of bedrooms 

              </label>
              
              <input class="govuk-input govuk-input--width-3" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
            </div>
          
          </fieldset>

      </div>

      <!-- <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a certificate of occupancy?

          </span>
        </summary>
        <div class="govuk-details__text">
          This certificate is issued for adults who will not a have a charge on the property they are living in.
        </div>
      </details> -->
       <div><p>&nbsp;</p></div> 
      <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
        Save and continue
      </button>
 
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Save and come back later
      </button>
    </form>
   

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <p>&nbsp;</p>

    </div>
  </div>
{% endblock %}
