{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Apply for a Help to Buy: Equity Loan</span>
      <h1 class="govuk-heading-xl">Alpha Prototypes & Research Directory</h1>
      

      <h2 class="govuk-heading-l">Sprint 10 (In progress)</h2>

      <h3 class="govuk-heading-m">Prototypes</h3>

     <p><a href="apply/uj3/letter">Letter from Builder</a></p>

      <p><a data-jounery="apply" href="apply/uj3/iteration-10/guidance/">Guidance pages</a></p>

      <p><a data-jounery="apply" href="apply/uj3/iteration-10/guidance/how-to-apply.html">Sole buyer or buyer 1 of a joint application</a>
       </p>
     <p><a data-jounery="apply" href="apply/uj3/iteration-10/buyer2/">Buyer 2 of a joint application</a></p>

     <details class="govuk-details" data-module="govuk-details">
       <summary class="govuk-details__summary">
         <span class="govuk-details__summary-text">
           Iteration details
         </span>
       </summary>
       <div class="govuk-details__text">
         <ul>
           <li>Guidance page content:
              <ul>
                <li>Made Overview description clearer</li>
                <li>Clarified subtitles on what you need to pay</li>
              </ul>
           </li>
        <li>Sole buyer / Buyer 2:
         
        </li>
         <li>Buyer 2 application:


         </li>
         </ul>
       </div>
      </details>

      <h2 class="govuk-heading-l">Sprint 9</h2>

      <p>Moved back to focus on Buyer 1 with letter from builder for added realism</p>

      <h3 class="govuk-heading-m">Prototypes</h3>

      <p><a href="apply/uj3/letter">Letter from Builder</a></p>

      <p><a data-jounery="apply" href="apply/uj3/iteration-9/guidance/">Guidance pages</a></p>

      <p><a data-jounery="apply" href="apply/uj3/iteration-9/guidance/how-to-apply.html">Sole buyer or buyer 1 of a joint application</a>
       </p>
     <p><a data-jounery="apply" href="apply/uj3/iteration-9/buyer2/">Buyer 2 of a joint application</a></p>

     <details class="govuk-details" data-module="govuk-details">
       <summary class="govuk-details__summary">
         <span class="govuk-details__summary-text">
           Iteration details
         </span>
       </summary>
       <div class="govuk-details__text">
         <ul>
           <li>Guidance page content:
             
           </li>
        <li>Sole buyer / Buyer 2:
         
        </li>
         <li>Buyer 2 application:


         </li>
         </ul>
       </div>
     </details>

      <h3 class="govuk-heading-m">Usability testing</h3>

      <p>
        <a href="public/09_Apply_user_testing_playback.pdf">Report (PDF)</a>
      </p>
      <p>
        <a href="https://trello.com/b/2wkIgFA9/usability-testing-09-04-06-2020">Raw notes (Trello)</a>
      </p>



      <h2 class="govuk-heading-l">Sprint 8</h2>

      <p>Continued to iterate on Guidance & Buyer 2 journeys</p>

      <h3 class="govuk-heading-m">Prototypes</h3>
      <p><a data-jounery="apply" href="apply/uj3/iteration-8/guidance/">Guidance pages</a></p>
    
      <!-- <p><a data-jounery="apply" href="apply/uj3/iteration-6/mini-borrow/">Max house price mini-service</a></p> -->
      <p><a data-jounery="apply" href="apply/uj3/iteration-8/guidance/how-to-apply.html">Sole buyer or buyer 1 of a joint application</a>
         <br><span class="govuk-hint">(not tested this round)</span>
        </p>
      <p><a data-jounery="apply" href="apply/uj3/iteration-8/buyer2/">Buyer 2 of a joint application</a></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Iteration details
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul>
            <li>Guidance page content:
              <ul>
                <li>overview: added sentence about shared ownership</li>
                <li>what you need to pay: added bullet point to top around 3 payment types</li>
                <li>what you need to pay: interest payment table improvements</li>
                <li>what you need to pay: heading nesting changes</li>
                <li>what you need to pay: addition of explanation around why there are fewer payments</li>
                <li>what you need to pay: removal of bullet points where content doesn't need such priority focus</li>
                <li>How to apply: focus steps around apply journey and remove steps which are more general</li>
                <li>How to apply: add link to manage and pay guidance</li>
                <li>How to apply: put link to start at the bottom of the page</li>
                
              </ul>
            </li>
         <li>Sole buyer / Buyer 1:
           <ul>
             <li>brought up to date to replicate buyer 2 changes made over last few weeks</li>
             <li>extra page to check they have a realistic idea of mortgage and the solicitor details</li>
             <li>local authority field placement and hint text to say they need to get from a builder</li>
           </ul>
         </li>
          <li>Buyer 2 application:
            <ul>
              <li>Start page - more concise</li>
              <li>Check details pages: make the labels more explanatory</li>
              <li>Change page: explain what will happen- 1st buyer needs to verify</li>
              <li>Understanding the EL (11b): removed right hand side grey box and added the property price into the main content</li>
              <li>Understand repaying the EL (11c): 3 bullet points at the top and page split into full repayment and partial repayment, with examples and tabs </li>
              <li>Understanding monthly payments (11d): use inset to highlight that the monthly payments don't repay the equity</li>
              <li>Understanding monthly payments (11d): simpler explanation of interest, with details hidden behind a reveal</li>
              <li>Understanding monthly payments (11d): use inset to highlight that interest inflation is variable</li>
              <li>Print link for 11c & 11d</li>
            </ul>
          </li>
          </ul>
        </div>
      </details>

      <h3 class="govuk-heading-m">Usability testing</h3>

      <p>
        <a href="public/08_Apply_user_testing_playback.pdf">Report (PDF)</a>
      </p>
      <p>
        <a href="https://trello.com/b/Zps11YLF/usability-testing-08-28-05-2020">Raw notes (Trello)</a>
      </p>

      <h2 class="govuk-heading-l">Sprint 7</h2>

      <p>Focused on Guidance and Buyer 2 journeys</p>

      <h3 class="govuk-heading-m">Prototypes</h3>
      <p><a data-jounery="apply" href="apply/uj3/iteration-7/guidance/">Guidance pages</a></p>
      <p><a data-jounery="apply" href="apply/uj3/iteration-7/guidance/index-full-page.html">Guidance full page</a></p>
      <!-- <p><a data-jounery="apply" href="apply/uj3/iteration-6/mini-borrow/">Max house price mini-service</a></p> -->
      <p><a data-jounery="apply" href="apply/uj3/iteration-7/apply-00-service-start.html">Sole buyer or buyer 1 of a joint application</a> <br><span class="govuk-hint">(not changed or tested this round)</span></p>
      <p><a data-jounery="apply" href="apply/uj3/iteration-7/buyer2/">Buyer 2 of a joint application</a></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Iteration details
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul>
            <li>Guidance content pages:
              <ul>
                <li>experimented with pattern of putting content all on one page, but not tested</li>
                <li>extra content and headings in overview page</li>
                <li>pay back page - extra content added, especially around interest and administration fee</li>
                <li>repayment example table changed to tabs</li>
                <li>minor wording edit for point 2 in how to apply page</li>
                <li>what you cannot do page - renting a room explicitly said to be ok and explained that paying back the loan comes before other major expenditure</li>
              </ul>
            </li>
            <li>Buyer 2 application journey - for multiple applicants:  
              <ul>
                <li>additional content in initial email to let the user know why reference number not included</li>
                <li>start page added before input code page</li>
                <li>re-ordered page flow to put checks on buyer 1 entries first, and understanding the loan 2nd</li>
              <li>put in extra page to explain the loan interest</li>
              <li>put 'understanding loan' figures and sums content into tabs to make it more manageable chunks of information</li>
              <li>made flow for buyer 2 to correct their phone number</li>
              <li>added extra page to make sure they understand that buyer 1 needs to verify their corrections</li>
              
              <li>content changes in the last submission page, to reflect that process not complete without buyer 1</li>
          </ul> </li>
          </ul>
        </div>
      </details>

      <h3 class="govuk-heading-m">Usability testing</h3>

      <p>
        <a href="public/07_Apply_user_testing_playback.pdf">Report (PDF)</a>
      </p>
      <p>
        <a href="https://trello.com/b/hP3qcOa9/usability-testing-07-21-05-2020">Raw notes (Trello)</a>
      </p>

      
      <h2 class="govuk-heading-l">Sprint 6</h2>

      <p>Removed the mini-service to test counter-factual and focus more on Apply
    
      <h3 class="govuk-heading-m">Prototypes</h3>
      <p><a data-jounery="apply" href="apply/uj3/iteration-6/guidance/">Guidance pages</a></p>
      <!-- <p><a data-jounery="apply" href="apply/uj3/iteration-6/mini-borrow/">Max house price mini-service</a></p> -->
      <p><a data-jounery="apply" href="apply/uj3/iteration-6/apply-00-service-start.html">Sole buyer or buyer 1 of a joint application</a></p>
      <p><a data-jounery="apply" href="apply/uj3/iteration-6/buyer2/">Buyer 2 of a joint application</a> <br><span class="govuk-hint">(not changed or tested this round)</span></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Iteration details
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul>
            <li>Guidance content pages:
              <ul>
                <li>Overview lengthened</li>
                <li>'who can apply' simplified</li>
                <li>'how it works' - split out London and England to describe % and  tabs added for example for inside and outside London</li>
                <li>'what you must not and must do' changed to 'what you cannot do' and only list restrictions and headings added</li>
                <li>'what you need to pay' example in table</li>
                <li>new list in 'how to apply' with numbered style</li>
               
              </ul>
            </li>
            <li>Buyer 1 application journey - for multiple applicants
              <ul>
                <li>Checkboxes for eligibily page, instead of radios across a couple of pages</li>
                <li>radio button change for asking about how many applicants</li>
                <li>housebuilder code added into questions</li>
                <li>split out purchase page questions into separate pages and ask for equity loan amount (removed radio buttons but no error checking)</li>
                <li>added 'confirm you understand the loan' page to journey</li>
                <li>put optional household questions together & after purchase page</li>
                <li>added radio button to ask yes/no question about adults living in home</li>
                <li>label content edits - 
                  <ul>
                    <li>income -child tax credits</li>
                    <li>outgoings - re-order fields</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </details>

      <h3 class="govuk-heading-m">Usability testing</h3>

      <p>
        <a href="public/06_Apply_user_testing_playback.pdf">Report (PDF)</a>
      </p>
      <p>
        <a href="https://trello.com/b/BhmoIG6o/usability-testing-06-14-05-2020">Raw notes (Trello)</a>
      </p>

      <h2 class="govuk-heading-l">Sprint 5</h2>

      <p>Made the mini-service work with user inputted data</p>
     
      <h3 class="govuk-heading-m">Prototypes</h3>
      <p><a data-jounery="apply" href="apply/uj3/iteration-5/guidance/">Guidance pages</a></p>
      <p><a data-jounery="apply" href="apply/uj3/iteration-5/mini-borrow/">Max house price mini-service</a></p>
      <p><a data-jounery="apply" href="apply/uj3/iteration-5/apply-00-service-start.html">Sole buyer or buyer 1 of a joint application</a><br><span class="govuk-hint">(not changed or tested this round)</span></p>
      <p><a data-jounery="apply" href="apply/uj3/iteration-5/buyer2/">Buyer 2 of a joint application</a><br><span class="govuk-hint">(not changed or tested this round)</span></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Iteration details
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul>
            <li>Guidance content pages</li>
            <li>Guidance mini service to check how much is the maximum house price they can get</li>
          </ul>
        </div>
      </details>

      <h3 class="govuk-heading-m">Usability testing</h3>

      <p>
        <a href="public/05_Apply_user_testing_playback.pdf">Report (PDF)</a>
      </p>
      <p>
        <a href="https://trello.com/b/CFQB9T8Q/usability-testing-05-30-04-2020">Raw notes (Trello)</a>
      </p>

      <h3 class="govuk-heading-m">Stakeholder feedback</h3>
      <p><a href="https://trello.com/b/ffB2p280/apply-workshop-04-05-200">Workshop Notes (Trello)</a></p>

      <h2 class="govuk-heading-l">Sprint 4</h2>

      <p>First draft of GOV.UK Guidance pages including link to mini-service</p>

      <h3 class="govuk-heading-m">Prototypes</h3>
      <p><a data-jounery="apply" href="apply/uj3/iteration-4/guidance/">GOV.UK Guidance</a></p>
      <p><a data-jounery="apply" href="apply/uj3/iteration-4/apply-00-service-start.html">Sole buyer or buyer 1 of a joint application</a></p>
      <p><a data-jounery="apply" href="apply/uj3/iteration-4/buyer2/">Buyer 2 of a joint application</a><br><span class="govuk-hint">(not changed or tested this round)</span></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Iteration details
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul>
            <li>Guidance content pages</li>
            <li>Guidance mini service to check how much equity loan a user could get</li>
            <li>Content changes to sole applicant and buyer 1 in joint application</li>
          </ul>
        </div>
      </details>

      <h3 class="govuk-heading-m">Usability testing</h3>

      <p>
        <a href="public/04_Apply_user_testing_playback.pdf">Report (PDF)</a>
      </p>
      <p>
        <a href="https://trello.com/b/F8OntZjE/usability-testing-session-04-22-04-2020">Raw notes (Trello)</a>
      </p>


      <h2 class="govuk-heading-l">Sprint 3</h2>

      <p>Tested both applicant's journeys using separate participants</p>

      <h3 class="govuk-heading-m">Prototypes</h3>
      <p><a href="apply/uj3/iteration-3/apply-00-service-start.html">Sole buyer or buyer 1 of a joint application</a></p>
      <p><a  href="apply/uj3/iteration-3/buyer2/">Buyer 2 of a joint application</a></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Iteration details
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul>
            <li>Multiple applicant journey, where both users complete their own personal info</li>
            <li>Buyer 2 pages</li>
            <li>Copy iterations for multiple applicant (buyer 1 journey)</li>
            <li>Iterated design for how to display the amount of equity loan a user can get</li>
          </ul>
        </div>
      </details>

      <h3 class="govuk-heading-m">Usability testing</h3>

      <p>
        <a href="public/03_Apply_user_testing_playback.pdf">Report (PDF)</a>
      </p>
      <p>
        <a href="https://trello.com/b/iypT6H9F/usability-testing-session-03">Raw notes (Trello)</a>
      </p>

      <h3 class="govuk-heading-m">Stakeholder feedback</h3>
      <p><a href="https://trello.com/b/atOtryS4/uj3-homebuyer-multiple-application-journey-htb-transfromation-workshop-342020">Workshop Notes (Trello)</a></p>


      <h2 class="govuk-heading-l">Sprint 2</h2>

      <p>Small content and UI changes for first round of usability testing after feedback from first stakeholder workshop</p>

      <p>

      <h3 class="govuk-heading-m">Prototypes</h3>
      <p><a href="https://docs.google.com/document/d/1gbHIfe0P-ReyFvQydxMK1E3VjspDX7Vz0CL38SDPL_U/edit">Buy a home with help from government: step by step</a></p>

      <p><a href="apply/uj3/iteration-2/apply-00-service-start.html">Apply (Single applicant)</a></p>

      <h3 class="govuk-heading-m">Usability testing</h3>

      <p>
        <a href="public/01_Apply_user_testing_playback.pdf">Report</a> (PDF)
      </p>

      <p><a href="https://trello.com/invite/b/qlCMQ8hI/ce3e3d985b5dc1e6ad27d1315cb198fd/usability-testing-session-1">Raw notes</a> (Trello)</p>
      


      <h2 class="govuk-heading-l">Sprint 1</h2>

      <p>First draft prepared for first stakeholder workshop</p>

      <h3 class="govuk-heading-m">Prototypes</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://docs.google.com/document/d/1gbHIfe0P-ReyFvQydxMK1E3VjspDX7Vz0CL38SDPL_U/edit">Buy a home with help from government: step by step</a></li>

        <li><a href="apply/uj3/iteration-1/apply-00-service-start.html">Apply (single applicant)</a></li>
      </ul>

      <h3 class="govuk-heading-m">Stakeholder feedback</h3>

      <p><a href="https://trello.com/b/TTHhjjZj/uj3-homebuyer-application-journey-htb-transformation-workshop-feedback">Workshop notes on Trello</a></p>


      <h2 class="govuk-heading-l">Discovery</h2>

      <p><a href="public/discovery-report.pdf">Discovery Report</a></p>

      <h3 class="govuk-heading-m">Key points</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Lack of consistency across channels used to promote the scheme (GOV.UK, helptobuy.gov.uk, agents' websites, etc.)</li>
        <li>The information currently on GOV.UK is less helpful than on helptobuy.gov.uk</li>
        <li>There is no digital channel to apply for a loan</li>
        <li>Almost all applications aren't even filled out by the applicant themselves - The mortgage advisor or homebuilder does it for them</li>
      </ul>

      <!-- 

      <h2 class="govuk-heading-l">Manage and pay</h2>
   
      <p><a href="redemption/uj4/iteration-2/application/application-overview.html">Pay back the loan application ( Iteration - 2 Work in Progress )</a></p>
      
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Iteration details
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <p>Prototype to validate different options on paying back the loan:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Overview (new)</li>
            <li>Paying back in full when selling home (content updated)</li>
            <li>Paying back in part or in full without selling (new)</li>
          </ul>


          <p> To validate improved usability on application journey:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Start page (content updated)</li>
            <li>Contact addres has been removed</li>
            <li>UI improvement on account overview page</li>
          </ul>

          <p>To validate the path way on save as draft:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>a new user journey for the secondary CTA which enables users to save the application as draft and complete later</li>
          </ul>
        </div>
      </details>

      <p><a href="redemption/uj4/iteration-2/manage/redemption-00-start.html" data-jounery="manage">Manage the loan</a></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Iteration details
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Prototype to validate user flows when users need to change thier personal details:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>change namee</li>
            <li>change contact address</li>
            <li>change phone number or email address</li>
          </ul>
        </div>
      </details>

      <h3 class="govuk-heading-m">Revision:</h3>
      <p><a href="redemption/uj4/iteration-1/application/application-index.html"">Pay back the loan application ( Iteration - 1 )</a></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Iteration details
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Prototype to validate user journey on a repayment application. We focused on the following option:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Paying back in full when selling home</li>
          </ul>
        </div>
      </details>
      </div>
  </div> -->

{% endblock %}
