{% extends "layout.html" %}

{% block pageTitle %}
Page title - to be dynamic from routes - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ super() }}
<!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">parent page</a>
      </li>

      <li class="govuk-breadcrumbs__list-item" aria-current="page">surrent page</li>
 
    </ol>
  </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link govuk-body govuk-!-margin-bottom-9">Back</a>
    <span class="govuk-caption-xl">
      Before you start
    </span>


    <form method="post" novalidate="" class="radio-routes-toggle1" autocomplete="off" action="apply-01-eligibility02">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Check you understand the conditions of the Help to Buy: Equity Loan
            </h1>
          </legend>

<p>Make sure you've <a href="guidance/what-you-cannot-do">read the conditions</a> before you apply.</p>
 

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">

                </h1>
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes">


              <p>I understand that until I've paid back my equity loan:</p>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox"
                    value="DfT">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-4" style="margin-bottom: 20px;">
                    I can not own a second residential property
                    </span>

                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox"
                    value="DfT">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-4" style="margin-bottom: 20px;">
                    I can not rent out my home (except in exceptional circumstances)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox"
                    value="employment-tribunal">
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-2" style="margin-bottom: 20px;">
                    The amount I need to repay increases and decreases as the home's value changes. This includes any value increase from structural changes made, except those permitted for accessibility reasons.
                  </label>
                </div>
              </div>
          </div>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      </fieldset>
    </form>
  </div>

  <div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    <p>&nbsp;</p>

  </div>
</div>
{% endblock %}
